/*===== footer =====*/
.footer {
    text-align: center;
    margin-top: 30px;
}

// ===== social =====
.footer__social {
    padding: 15px 0;
    background: url('../img/header__middle-bg.jpg') 50% 0 no-repeat;
    background-size: cover;
}
.footer__social--item {
    display: inline-block;
    vertical-align: middle;
    &.vk a::before {
        left: 0;
        width: 60px;
        height: 55px;
        background: url('../img/svg/vk.svg') 50% 50% no-repeat;
        background-size: contain;
    }
    &.instagram a::before {
        left: 15px;
        width: 40px;
        height: 40px;
        background: url('../img/svg/instagram.svg') 50% 50% no-repeat;
        background-size: contain;
    }
    a {
        position: relative;
        display: inline-block;
        margin: 0 40px;
        padding: 5px 20px 5px 80px;
        text-decoration: none;
        letter-spacing: .4px;
        text-transform: uppercase;
        color: #fff;

        @include font-size(18px);
        @include sheepsans(bold);
        &::before {
            position: absolute;
            top: 0;
            bottom: 0;
            display: inline-block;
            margin: auto;
            content: '';
            vertical-align: middle;
        }
    }
}
.footer__map {
    height: 400px;
}
.footer__copyright {
    display: inline-block;
    padding: 0 20px;
    vertical-align: middle;
    color: #27983b;

    @include font-size(12px);
}

// ===== arrow-up =====
.arrow-up {
    line-height: 30px;
    position: fixed;
    z-index: 10;
    bottom: 50px;
    left: -100px;
    width: 100px;
    height: 30px;
    padding: 0 10px;
    cursor: pointer;
    transition: .5s;
    color: #fff;
    border-radius: 0 5px 5px 0;
    background-color: #106634;
    &::after {
        position: absolute;
        top: 0;
        right: 10px;
        bottom: 0;
        display: block;
        width: 18px;
        height: 30px;
        content: '';
        background: url('../img/arr-up.png') 0 9px no-repeat;
    }
}
.arrow-up.active {
    left: -65px;
    transition: .5s;
    &:hover {
        left: 0;
        transition: .7s;
        &::after {
            background-position: 0 -15px;
        }
    }
}


@media only screen and (max-width: 1140px) {
    .footer__social--item a {
        margin: 0;
    }
}


@media only screen and (max-width: 690px) {
    .footer__social--item a {
        &::before {
            right: 0;
        }
        span {
            display: none;
        }
    }
    .footer__map {
        height: 300px;
    }
}


@media only screen and (max-width: 425px) {
    .footer {
        .container {
            padding: 0 10px;
        }
    }
    .footer__map {
        height: 200px;
    }
}
/*===== /footer =====*/
