/*===== header =====*/
// ===== header__top =====
.header__top {
    padding: 8px 0 10px 0;
    background-color: #106634;
}
.header__top--item {
    position: relative;
    display: inline-block;
    width: 33.3%;
    margin-right: -5px;
    padding-left: 50px;
    vertical-align: middle;
    &:after {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 10px;
        display: block;
        width: 30px;
        height: 24px;
        margin: auto;
        content: '';
    }
    &.adress {
        width: 45%;
        &::after {
            background: url('../img/svg/compass.svg') 5px 50% no-repeat;
            background-size: contain;
        }
        a {
            transition: .5s;
            text-decoration: none;
            color: #fff;
            &:hover {
                transition: .5s;
                color: #2fc758;
            }
        }
    }
    &.schedule {
        width: 35%;
        &::after {
            background: url('../img/svg/clock.svg') 5px 50% no-repeat;
            background-size: contain;
        }
        span {
            color: #fff;
        }
    }
    &.mail {
        width: 20%;
        &::after {
            background: url('../img/svg/mail.svg') 5px 50% no-repeat;
            background-size: contain;
        }
        a {
            transition: .5s;
            text-decoration: none;
            color: #fff;
            &:hover {
                transition: .5s;
                color: #2fc758;
            }
        }
    }
}

// ===== header__middle =====
.header__middle {
    padding: 10px 0;
    background: url('../img/header__middle-bg.jpg') 50% 0;
    background-size: cover;
    .container {
        font-size: 0;
        line-height: 1px;
        text-align: justify;
        &::after {
            display: inline-block;
            width: 100%;
            height: 0;
            content: '';
        }
    }
}
.header__middle--item {
    line-height: normal;
    position: relative;
    display: inline-block;
    padding: 0 10px;
    vertical-align: middle;
    &.logo {
        width: 314px;
        height: 67px;
        a {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            margin: auto;
            background: url('../img/header__middle-logo.png') 0 0 no-repeat;
        }
    }
    &.bank-card {
        padding: 10px 20px 10px 40px;
        color: #fff;
        border: 2px solid #ff5806;
        border-radius: 6px;

        @include font-size(16px);
        @include opensans(semibold);
        &::before {
            position: absolute;
            top: 0;
            bottom: 0;
            left: -30px;
            display: block;
            width: 58px;
            height: 64px;
            margin: auto;
            content: '';
            background: url('../img/svg/payment-method.svg') 0 0 no-repeat;
        }
    }
    &.phone {
        position: relative;
        padding-left: 70px;
        .phone__svg {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 5px;
            width: 50px;
            height: 50px;
            margin: auto;
            transition: .5s;

            fill: #fff;
            svg {
                max-width: 100%;
                max-height: 100%;
            }
        }
        a {
            transition: .5s;
            text-decoration: none;
            color: #fff;
            border-bottom: 1px solid transparent;

            @include font-size(24px);
            @include opensans(semibold);
            &:hover {
                transition: .5s;
                border-bottom: 1px solid #fff;
            }
            &:hover ~ .phone__svg {
                transition: .5s;

                fill: #ff5806;
            }
        }
    }
}

// ===== header__bottom =====
.header__bottom {
    position: relative;
    z-index: 10000;
    width: 100%;
    background-color: #fff;
}
.header__bottom--navigation,
.header__bottom--search {
    display: inline-block;
    vertical-align: middle;
}

// ===== nav =====
li.disabled a {
    cursor: default;
    pointer-events: none;
    color: #3f3f3f;
}
#hmenu,
#hmenu ul,
#hmenu ul li,
#hmenu ul li a,
#hmenu #menu-button {
    line-height: 1;
    position: relative;
    display: block;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    border: 0;
}
#hmenu:after,
#hmenu > ul:after {
    line-height: 0;
    display: block;
    visibility: hidden;
    clear: both;
    height: 0;
    content: '.';
}
#hmenu #menu-button {
    display: none;
}
#hmenu {
    font-family: 'Open Sans', sans-serif;
    width: auto;
    border-radius: 5px;
    background: #fff;
}
#menu-line {
    position: absolute;
    top: 0;
    left: 0;
    height: 3px;
    transition: all .25s ease-out;
    background: #2fc758;
}
#hmenu > ul > li {
    float: left;
}
#hmenu.align-center > ul {
    font-size: 0;
    text-align: center;
}
#hmenu.align-center > ul > li {
    display: inline-block;
    float: none;
}
#hmenu.align-center ul ul {
    text-align: left;
}
#hmenu.align-right > ul > li {
    float: right;
}
#hmenu.align-right ul ul {
    text-align: right;
}
#hmenu > ul > li > a {
    padding: 15px 30px;
    transition: color .5s ease;
    text-decoration: none;
    color: #3f3f3f;

    @include font-size(18px);
}
#hmenu > ul > li:hover > a,
#hmenu > ul > li.active > a {
    transition: color .5s ease;
    color: #2fc758;
}
#hmenu > ul > li.parent:hover {
    background: #106634;
}
#hmenu > ul > li.parent > a {
    padding-right: 35px;
}
#hmenu > ul > li.parent > a::after {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 7px;
    height: 7px;
    content: '';
    transition: border-color .5s ease;
    transform: rotate(45deg);
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
}
#hmenu > ul > li.parent:hover > a::after {
    border-color: #2fc758;
}
#hmenu ul ul {
    position: absolute;
    left: -9999px;
}
#hmenu ul ul li {
    position: relative;
    &::after {
        position: absolute;
        right: 10px;
        bottom: 0;
        left: 10px;
        display: block;
        height: 1px;
        content: '';
        background-color: #2fc758;
    }
    &:last-child::after {
        display: none;
    }
}
#hmenu li:hover > ul {
    left: auto;
}
#hmenu.align-right li:hover > ul {
    right: 0;
}
#hmenu ul ul li a {
    min-width: 200px;
    padding: 10px 20px;
    transition: color .5s ease;
    text-decoration: none;
    color: #fff;
    background: #106634;

    @include font-size(18px);
}
#hmenu ul ul li:hover > a,
#hmenu ul ul li a:hover {
    color: #2fc758;
}
#hmenu ul ul li.parent > a::after {
    position: absolute;
    top: 13px;
    right: 10px;
    width: 4px;
    height: 4px;
    content: '';
    transition: border-color .2s ease;
    transform: rotate(-45deg);
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
}
#hmenu.align-right ul ul li.parent > a::after {
    right: auto;
    left: 10px;
    border-top: 1px solid #000;
    border-right: 0;
    border-left: 1px solid #000;
}
#hmenu ul ul li.parent:hover > a::after {
    border-color: #2fc758;
}


// ===== serch block =====
.header__bottom--search {
    position: relative;
}
.header__bottom--search-btn {
    width: 35px;
    height: 35px;
    margin-left: 10px;
    padding: 6px 6px 2px 6px;
    transition: .3s;
    border: none;
    outline: none;
    background: #1a964c;
    box-shadow: none;
    svg {
        fill: #fff;
    }
    &:hover {
        transition: .3s;
        background: #2fc758;
    }
}
.search__form-wrap {
    position: absolute;
    top: -100px;
    right: 0;
    visibility: hidden;
    transition: 1s;
    opacity: 0;
    &.active {
        top: 42px;
        visibility: visible;
        transition: 1s cubic-bezier(.1, -1.5, .1, 1.7);
        opacity: 1;
    }
}
.search__input {
    width: 200px;
    padding: 2px 35px 2px 5px;
    color: #5f5f5f;
    border: 5px solid #106634;
    outline: none;
    background: #fff;

    @include placecolor;
}
.search__submit {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 35px;
    height: 35px;
    color: transparent;
    border: none;
    background: url('../img/search-arr.png') no-repeat;
    background-color: #106634;
    background-position: 12px -30px;
    &:hover {
        background-position: 12px 9px;
    }
}


@media only screen and (max-width: 1140px) {
    .header__bottom {
        .container {
            padding: 0;
        }
    }
    .header__bottom--search {
        position: absolute;
        top: 14px;
        right: 14px;
        display: block;
    }
    .search__form-wrap {
        &.active {
            top: 50px;
        }
    }
    .header__bottom--navigation {
        width: 100%;
    }
    #hmenu {
        width: 100%;
    }
    #hmenu ul {
        display: none;
        width: 100%;
    }
    #hmenu > ul > li.parent:hover {
        background: #fff;
    }
    #hmenu ul > li > a {
        padding: 15px 30px 15px 60px;
    }
    #hmenu.align-center > ul,
    #hmenu.align-right ul ul {
        text-align: left;
    }
    #hmenu ul li,
    #hmenu ul ul li,
    #hmenu ul li:hover > ul > li {
        width: 100%;
        height: auto;
        border-top: 1px solid rgba(120, 120, 120, .15);
    }
    #hmenu ul li a,
    #hmenu ul ul li a {
        width: 100%;
    }
    #hmenu > ul > li,
    #hmenu.align-center > ul > li,
    #hmenu.align-right > ul > li {
        display: block;
        float: none;
    }
    #hmenu ul ul li a {
        padding: 20px 20px 20px 60px;
        color: #3f3f3f;
        background: none;
    }
    #hmenu ul ul li:hover > a,
    #hmenu ul ul li a:hover {
        color: #2fc758;
    }
    #hmenu ul ul ul li a {
        padding-left: 40px;
    }
    #hmenu ul ul li::after {
        background: rgba(120, 120, 120, .15);
    }
    #hmenu ul ul,
    #hmenu ul ul ul {
        position: relative;
        right: auto;
        left: 0;
        width: 100%;
        margin: 0;
    }
    #hmenu > ul > li.parent > a::after,
    #hmenu ul ul li.parent > a::after {
        display: none;
    }
    #menu-line {
        display: none;
    }
    #hmenu #menu-button {
        display: block;
        padding: 20px 20px 20px 60px;
        cursor: pointer;
        color: #28af45;

        @include font-size(24px);
        &:hover {
            transition: .5s;
            color: #2fc758;
            &::after {
                transition: .5s;
                background: #2fc758;
            }
            &:before {
                transition: .5s;
                transition: .5s;
                border-top: 4px solid #2fc758;
                border-bottom: 4px solid #2fc758;
            }
        }
    }
    #hmenu #menu-button::after {
        position: absolute;
        top: 17px;
        right: 100px;
        display: block;
        width: 50px;
        height: 4px;
        content: '';
        transition: .5s;
        background: #28af45;
    }
    #hmenu #menu-button::before {
        position: absolute;
        top: 30px;
        right: 100px;
        display: block;
        width: 50px;
        height: 16px;
        content: '';
        transition: .5s;
        border-top: 4px solid #28af45;
        border-bottom: 4px solid #28af45;
    }
    #hmenu .submenu-button {
        position: absolute;
        z-index: 10;
        top: 0;
        right: 0;
        display: block;
        width: 52px;
        height: 48px;
        cursor: pointer;
        border-left: 1px solid rgba(120, 120, 120, .15);
    }
    #hmenu .submenu-button::after {
        position: absolute;
        z-index: 99;
        top: 19px;
        left: 26px;
        display: block;
        width: 1px;
        height: 11px;
        content: '';
        background: #28af45;
    }
    #hmenu .submenu-button::before {
        position: absolute;
        z-index: 99;
        top: 24px;
        left: 21px;
        display: block;
        width: 11px;
        height: 1px;
        content: '';
        background: #28af45;
    }
    #hmenu .submenu-button.submenu-opened:after {
        display: none;
    }
}


@media only screen and (max-width: 1060px) {
    .header__top {
        display: none;
    }
    .header__middle--item {
        &.bank-card {
            display: none;
        }
    }
}


@media only screen and (max-width: 690px) {
    .header__middle--item {
        &.logo {
            width: 200px;
            height: 67px;
            a {
                background: url('../img/header__middle-logo-mobile.png') 0 50% no-repeat;
            }
        }
        &.phone {
            padding-left: 10px;
            .phone__svg {
                display: none;
            }
        }
    }
}


@media only screen and (max-width: 500px) {
    .header__middle--item {
        &.phone {
            display: none;
        }
    }
    .header__bottom--search {
        display: none;
    }
    .search__form-wrap {
        display: none;
    }
    #hmenu #menu-button {
        padding: 20px;
    }
    #hmenu #menu-button::after {
        right: 20px;
    }
    #hmenu #menu-button::before {
        right: 20px;
    }
    #hmenu ul > li > a {
        padding: 15px 30px 15px 20px;
    }
    #hmenu ul ul li a {
        padding: 20px;
    }
}
/*===== /header =====*/
