/*===== header =====*/
.header-1 {
    background-color: #f0f;
    font-size: 25px;
    color: #000;
}
.header-2 {
    background-color: #f0f;
    font-size: 25px;
    color: #000;
}
.header {
    background-color: #f0f;
    font-size: 25px;
    color: green;
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline;
}
/*===== /header =====*/