<!-- BEGIN #footer  -->
<footer class="footer">
    <div class="footer__social">
        <div class="container">
            <div class="footer__social--item vk">
                <a href="#"><span>vk.com/klasdent</span></a>
            </div>
            <div class="footer__social--item instagram">
                <a href="#"><span>instagram.com/klasdent</span></a>
            </div>
        </div>
    </div>
    <div class="footer__map" id="footer__map"></div>
    <div class="container">
        <div class="footer__copyright">&#169; Стоматологическая клиника «КласДент»</div>
        <div class="footer__copyright">Сделано в ProShift</div>
    </div>
</footer>
<!-- END #footer -->
<div class="arrow-up" id="arrow-up">вверх</div>
</div>
<!-- BEGIN #Popup_form  -->
<div class="layerBox"></div>
<div class="popupBox feedback">
    <div class="popupInn">
        <div class="top_block">
            <div class="close_bth"></div>
            <h2>Запись на прием</h2>
        </div>
        <div class="formBox">
            <form action="#" method="post">
                <div class="inputBox">
                    <input type="text" placeholder="Ваше имя">
                </div>
                <div class="inputBox error">
                    <input type="text" placeholder="Телефон">
                </div>
                <div class="inputBox">
                    <input type="text" placeholder="Выберите врача">
                </div>
                <div class="inputBox">
                    <input type="text" placeholder="Желаемая дата">
                </div>
                <div class="inputBox">
                    <input type="text" placeholder="Желаемое время">
                </div>
                <div class="btnBox">
                    <input type="submit" value="Записаться">
                </div>
            </form>
        </div>
    </div>
</div>
<div class="popupBox success">
    <div class="popupInn">
        <div class="top_block">
            <div class="close_bth"></div>
            <h2>Запись на прием</h2>
        </div>
        <p>Ваша заявка успешно отправлена!</p>
        <p>Мы перезвоним вам в ближайшее время для подтверждения записи.</p>
        <div class="btnBox">
            <input type="submit" value="Ок">
        </div>
    </div>
</div>
<!-- END #Popup_form -->
<!-- build:js js/vendors.js -->
<!-- bower:js -->
<script src='bower/jquery/dist/jquery.min.js'></script>
<script src='bower/bxslider-4/dist/jquery.bxslider.js'></script>
<script src='bower/bxslider-4/dist/vendor/jquery.easing.1.3.js'></script>
<!-- endbower -->
<!-- endbuild -->
<!-- build:js js/common.js -->
<script src='js/hmenu.js'></script>
<script src='js/sticky-header.js'></script>
<script src='js/common.js'></script>
<!-- endbuild -->
@@include('../include/google-map.html')
</body>
</html>
