<!-- BEGIN #footer  -->
<footer class="footer">
    <div class="container">
        <div class="footer__copyright">&#169; Стоматологическая клиника «КласДент»</div>
        <div class="footer__copyright">Сделано в ProShift</div>
    </div>
</footer>
<!-- END #footer -->
<div class="arrow-up" id="arrow-up">вверх</div>
</div>
<!-- build:js js/vendors.js -->
<!-- bower:js -->
<script src='bower/jquery/dist/jquery.min.js'></script>
<script src='bower/bxslider-4/dist/jquery.bxslider.js'></script>
<script src='bower/bxslider-4/dist/vendor/jquery.easing.1.3.js'></script>
<!-- endbower -->
<!-- endbuild -->
<!-- build:js js/common.js -->
<script src='js/hmenu.js'></script>
<script src='js/sticky-header.js'></script>
<script src='js/common.js'></script>
<!-- endbuild -->
</body>
</html>
