    <!-- BEGIN #footer  -->
    <footer class="footer">
        <div class="container">
            <div class="footer__copyright">&#169; Стоматологическая клиника «КласДент» Сделано в ProShift</div>
        </div>
    </footer>
    <!-- END #footer -->
</div>

<!-- build:js js/vendors.js -->
<!-- bower:js -->
<script src='bower/jquery/dist/jquery.min.js'></script>
<!-- endbower -->
<!-- endbuild -->
<!-- build:js js/common.js -->
<script src='js/common.js'></script>
<!-- endbuild -->
<script>
$(function() {
    $('.header__bottom').stickMe({
        shadow: false,
        transitionStyle: 'slide'
    });
});
</script>
</body>
</html>
