/*===== index-top-slogan =====*/
.slogan {
    .container {
        // padding-left: 200px;

        @include clearfix;
        img {
            float: left;
            margin: 0 40px -30px 0;
        }
    }
}
.slogan__title {
    padding: 20px 0;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #1a964b;

    @include font-size(30px);
    @include sheepsans(bold);
}
/*===== /index-top-slogan =====*/
