/*===== index-top-slogan =====*/
.slogan {
    .container {
        position: relative;
        min-height: 310px;
        padding: 20px 30px 20px 330px;
        img {
            position: absolute;
            z-index: 15;
            top: 0;
            left: 20px;
        }
    }
}
.slogan__title {
    padding: 20px 0;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #1a964b;

    @include font-size(30px);
    @include line-height(36px);
    @include sheepsans(bold);
}


@media only screen and (max-width: 940px) {
    .slogan {
        .container {
            min-height: 0;
            padding: 20px 30px;
            img {
                display: none;
            }
        }
    }
}


@media only screen and (max-width: 610px) {
    .slogan__title {
        text-align: center;

        @include font-size(24px);
        @include line-height(28px);
    }
}
/*===== /index-top-slogan =====*/
