.review {
    padding: 20px 0;
    text-align: center;
    background: #fff;
}
.review__header--title {
    letter-spacing: 1px;
    color: #1a964c;

    @include sheepsans(bold);
    @include line-height(36px);
    @include font-size(30px);
}

//===== slider =====
//общие стили для верхнего слайдера
.review {
    .container {
        max-width: 1000px;
    }
    ul {
        margin: 0;
        padding: 0;
    }
    li {
        padding: 20px 70px;
        border: 1px solid #ececec;
        border-radius: 20px;
        max-width: 940px;
    }
    .bx-wrapper {
        margin: 10px auto;
        border: none;
        background-color: transparent;
        box-shadow: none;
    }
    .bx-wrapper .bx-controls-direction a {
        width: 18px;
        height: 30px;
        margin-top: -15px;
    }
    .bx-wrapper .bx-prev {
        left: -30px;
        background: url('../img/bx/review-arr.png') 0 0 no-repeat;
        &:hover {
            background-position: 0 -50px;
        }
    }
    .bx-wrapper .bx-next {
        right: -30px;
        background: url('../img/bx/review-arr.png') 100% 0 no-repeat;
        &:hover {
            background-position: 100% -50px;
        }
    }
}
.review__slider--name {
    display: block;
    margin-top: 10px;
    color: #1a964c;

    @include opensans(semibold);
    @include line-height(24px);
    @include font-size(18px);
}
/*===== /index-review =====*/
