/*===== index-teeth =====*/
.teeth {
    padding: 40px 0;
    text-align: center;
    background: url('../img/grey-bg.jpg');
}
.teeth__item {
    position: relative;
    display: inline-block;
    width: 195px;
    margin: 0 10px;
    padding: 15px 0;
    vertical-align: top;
    border-radius: 60px;
    &:hover {
        .teeth__circle {
            transition: .3s;
            border: 10px solid #ff7734;
        }
    }
    a {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
}
.teeth__circle {
    position: relative;
    width: 122px;
    height: 122px;
    margin: 0 auto 55px;
    transition: .3s;
    border: 10px solid #148954;
    border-radius: 50%;
    background-color: #fafafa;
    img {
        position: absolute;
        top: 15px;
        left: -50px;
        max-height: 150px;
    }
}
.teeth__name {
    text-transform: uppercase;
    color: #17753b;

    @include opensans(semibold);
    @include font-size(16px);
    @include line-height(20px);
}


@media only screen and (max-width: 1199px) {
    .teeth {
        .container {
            padding: 0;
        }
    }
}


@media only screen and (max-width: 1100px) {
    .teeth {
        .container {
            padding: 0 150px;
        }
    }
}


@media only screen and (max-width: 960px) {
    .teeth {
        .container {
            padding: 0 50px;
        }
    }
}


@media only screen and (max-width: 820px) {
    .teeth {
        .container {
            padding: 0 0;
        }
    }
}


@media only screen and (max-width: 450px) {
    .teeth {
        padding: 20px 0;
    }
    .teeth__item {
        width: 140px;
        margin: 0 5px;
        &:hover {
            .teeth__circle {
                border: 7px solid #ff7734;
            }
        }
    }
    .teeth__circle {
        width: 100px;
        height: 100px;
        margin: 0 auto 35px;
        border: 7px solid #148954;
        img {
            top: 10px;
            left: -30px;
            max-height: 110px;
        }
    }
    .teeth__name {
        @include font-size(14px);
        @include line-height(18px);
    }
}
/*===== /index-teeth =====*/
